# HTTP Server
server {
listen  {{ morla_nginx_http_port }};
listen  [::]:{{ morla_nginx_http_port }};
server_name  {{ morla_domain }} www.{{ morla_domain}};

return 301 https://$host$request_uri;

location /var/www/html {
     root   html;
     index  index.html index.htm;
}

#error_page  404              /404.html;

# redirect server error pages to the static page /50x.html
#
error_page   500 502 503 504  /50x.html;
location = /50x.html {
    root   html;
}

# proxy the PHP scripts to Apache listening on 127.0.0.1:80
#
#location ~ \.php$ {
#    proxy_pass   http://127.0.0.1;
#}

# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
#
#location ~ \.php$ {
#    root           html;
#    fastcgi_pass   127.0.0.1:9000;
#    fastcgi_index  index.php;
#    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
#    include        fastcgi_params;
#}

# deny access to .htaccess files, if Apache's document root
# concurs with nginx's one
#
#location ~ /\.ht {
#    deny  all;
#}
}

# HTTPS server
#
server {
    listen       {{ morla_nginx_https_port }} ssl;
    listen       [::]:{{ morla_nginx_https_port }} ssl;
    server_name  {{ morla_domain }} www.{{ morla_domain }};

	location / {
	     root   html;
	     index  index.html index.htm;
	}

    ssl_certificate      /certs/live/{{ morla_domain }}/fullchain.pem;
    ssl_certificate_key  /certs/live/{{ morla_domain }}/privkey.pem;

    # include /config/letsencrypt/options-ssl-nginx.conf; # managed by Certbot

}

