map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
}

server {
        server_name {{ morla_piwigo_public_url }};

        location / {
                proxy_pass http://{{ morla_internal_ip }}:{{ morla_piwigo_reverse_proxy_port }};
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }

    listen [::]:443 ssl http2;
    listen 443 ssl http2;
    ssl_certificate      /certs/live/{{ morla_piwigo_public_url }}/fullchain.pem;
    ssl_certificate_key  /certs/live/{{ morla_piwigo_public_url }}/privkey.pem;

    # include /config/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    #ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    #add_header Strict-Transport-Security "max-age=31536000" always;
    ssl_trusted_certificate /certs/live/{{ morla_piwigo_public_url }}/chain.pem;
    #ssl_stapling on;
    #ssl_stapling_verify on;
}
