# credits https://marvin.beckers.dev/blog/coredns-podman-private-dns-resolver/
{% for entry in morla_firewall_services %}
{{ morla_tailscale_ip }}  {{ entry.name }}.{{ morla_tailscale_url }}
{% endfor %}
